**OBLIGATORIO FINAL G445 - GRUPO 8**
<br>**INTEGRANTES:**
<br>
<br>*Theo Pereira, 5703834-3, theopereira2001@gmail.com*
<br>*Carlos Píriz, 4298784-4, piriz.carlos@gmail.com*
<br>*Gabriel	Better,3138871-2, gabrielbetter@gmail.com*

In [255]:
### Importacion de librerias ###

# Sistema
import os

# Tratamiento de datos
import pandas as pd
import numpy as np
import datetime as dt
import math

# Visualizacion 
import matplotlib.pyplot as plt
%matplotlib inline

In [256]:
# Carga del archivo superstore a dataframe
# Selecciono la columna Row ID, como indice ya que pareciera ser el identificador de fila, independiente de los datos
miPath = os.path.abspath("")
superstore = pd.read_csv(miPath+"/Superstore.csv")
superstore.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs....,731.94
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,9575775.00
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22368.00

**Acercamiento a los datos**

**Tratamos de indexar por 'Row ID', evaluando la columna**

In [257]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9801 entries, 0 to 9800
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9801 non-null   int64
 1   Order ID       9801 non-null   object
 2   Order Date     9801 non-null   object
 3   Ship Date      9801 non-null   object
 4   Ship Mode      9801 non-null   object
 5   Customer ID    9801 non-null   object
 6   Customer Name  9801 non-null   object
 7   Segment        9801 non-null   object
 8   Country        9798 non-null   object
 9   City           9801 non-null   object
 10  State          9801 non-null   object
 11  Postal Code    9787 non-null   float64
 12  Region         9801 non-null   object
 13  Product ID     9801 non-null   object
 14  Category       9801 non-null   object
 15  Sub-Category   9801 non-null   object
 16  Product Name   9801 non-null   object
 17  Sales          9801 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [258]:
#Verificamos repetidos para esa columna
superstore["Row ID"].duplicated(keep= 'first').value_counts()

Row ID
False    9800
True        1
Name: count, dtype: int64

In [259]:
superstore.loc[superstore["Row ID"].duplicated(keep='first')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
9800,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10384.0

In [260]:
superstore.loc[superstore['Row ID']==9800]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10384.0
9800,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10384.0

In [261]:
superstore.loc[superstore.duplicated(keep = 'first')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
9800,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10384.0

In [262]:
# Vemos que aparte de repetir el valor  de Row ID, se repiten los valores para toda la fila, estaria duplicada, entonces borramos la fila
superstore.drop_duplicates(inplace = True, keep='first',ignore_index= False)
superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9797 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9786 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.4+ MB

In [267]:
# Ahora que tiene valores distintos y sabemos que no tiene nulos, indexamos por Row ID
superstore.set_index('Row ID',drop = True, inplace = True)
superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 1 to 9800
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9800 non-null   object
 1   Order Date     9800 non-null   object
 2   Ship Date      9800 non-null   object
 3   Ship Mode      9800 non-null   object
 4   Customer ID    9800 non-null   object
 5   Customer Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9797 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9786 non-null   float64
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.3+ MB

In [268]:
superstore.sample(10)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
8368,CA-2015-109918,07/09/2015,12/09/2015,Second Class,LR-17035,Lisa Ryan,Corporate,United States,Santa Clara,California,95051.0,West,OFF-PA-10000174,Office Supplies,Paper,"Message Book. Wirebound. Four 5 1/2"" X 4"" Form...",20.56
3711,CA-2018-113670,15/10/2018,17/10/2018,First Class,RS-19765,Roland Schwarz,Corporate,United States,Los Angeles,California,90045.0,West,FUR-TA-10001705,Furniture,Tables,Bush Advantage Collection Round Conference Table,510.24
2553,CA-2018-101042,19/11/2018,23/11/2018,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Henderson,Kentucky,42420.0,South,OFF-BI-10000088,Office Supplies,Binders,GBC Imprintable Covers,21.96
6424,CA-2016-149650,24/10/2016,27/10/2016,First Class,RD-19660,Robert Dilbeck,Home Office,United States,Oakland,California,94601.0,West,FUR-CH-10003956,Furniture,Chairs,Novimex High-Tech Fabric Mesh Task Chair,454272.00
1802,CA-2017-149461,13/11/2017,19/11/2017,Standard Class,AS-10135,Adrian Shami,Home Office,United States,Auburn,Washington,98002.0,West,FUR-FU-10004270,Furniture,Furnishings,Eldon Image Series Desk Accessories. Burgundy,4.18
3942,CA-2018-117863,18/05/2018,23/05/2018,Standard Class,TS-21340,Toby Swindell,Consumer,United States,New York City,New York,10024.0,East,OFF-BI-10000605,Office Supplies,Binders,Acco Pressboard Covers with Storage Hooks. 9 1...,3048.00
720,CA-2015-104472,02/06/2015,07/06/2015,Standard Class,CK-12325,Christine Kargatis,Home Office,United States,Orem,Utah,84057.0,West,FUR-FU-10000246,Furniture,Furnishings,Aluminum Document Frame,73.32
9401,CA-2016-167696,16/09/2016,21/09/2016,Standard Class,BD-11500,Bradley Drucker,Consumer,United States,Newport News,Virginia,23602.0,South,OFF-EN-10001539,Office Supplies,Envelopes,Staple envelope,45657.00
9395,CA-2015-125997,20/09/2015,23/09/2015,First Class,MW-18220,Mitch Webber,Consumer,United States,New York City,New York,10011.0,East,FUR-CH-10001394,Furniture,Chairs,Global Leather Executive Chair,631782.00
8536,US-2015-163146,16/05/2015,20/05/2015,Standard Class,CC-12475,Cindy Chapman,Consumer,United States,San Francisco,California,94122.0,West,TEC-AC-10002217,Technology,Accessories,Imation Clip USB flash drive - 8 GB,56.40

**Analisis inicial, luego de indexar**

In [269]:
# Dimensiones de los datos
superstore.shape

(9800, 17)

In [270]:
superstore.ndim

2

In [271]:
superstore.shape

(9800, 17)

In [272]:
# Muestreo de datos
superstore.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs....,731.94
3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,9575775.00
5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22368.00

In [273]:
superstore.sample(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
8281,CA-2018-134810,09/05/2018,10/05/2018,First Class,MC-17605,Matt Connell,Corporate,United States,Jacksonville,North Carolina,28540.0,South,OFF-EN-10002504,Office Supplies,Envelopes,Tyvek Top-Opening Peel & Seel Envelopes. Plai...,65232.00
3836,CA-2015-100363,08/04/2015,15/04/2015,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,Arizona,85301.0,West,OFF-FA-10000611,Office Supplies,Fasteners,Binder Clips by OIC,2368.00
4175,CA-2017-152163,01/07/2017,01/07/2017,Same Day,JF-15355,Jay Fein,Consumer,United States,Columbia,South Carolina,29203.0,South,OFF-BI-10003364,Office Supplies,Binders,Binding Machine Supplies,58.34
1719,CA-2017-169943,19/05/2017,24/05/2017,Standard Class,BN-11515,Bradley Nguyen,Consumer,United States,New York City,New York,10011.0,East,FUR-FU-10002088,Furniture,Furnishings,Nu-Dell Float Frame 11 x 14 1/2,35.92
2657,CA-2018-112515,17/09/2018,21/09/2018,Second Class,AS-10225,Alan Schoenberger,Corporate,United States,Provo,Utah,84604.0,West,OFF-ST-10001272,Office Supplies,Storage,Mini 13-1/2 Capacity Data Binder Rack. Pearl,261.74

**Informacion de las columnas**

In [274]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 1 to 9800
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9800 non-null   object
 1   Order Date     9800 non-null   object
 2   Ship Date      9800 non-null   object
 3   Ship Mode      9800 non-null   object
 4   Customer ID    9800 non-null   object
 5   Customer Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9797 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9786 non-null   float64
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.3+ MB

In [275]:
superstore.describe()

        Postal Code         Sales
count   9786.000000  9.800000e+03
mean   55274.693644  1.033335e+05
std    32041.894892  5.219698e+05
min     1040.000000 -3.286850e+05
25%    23223.000000  5.215000e+01
50%    58103.000000  5.886900e+02
75%    90008.000000  4.534400e+04
max    99301.000000  2.396266e+07

In [276]:
superstore.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code      float64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
dtype: object

In [277]:
superstore.isnull().sum()

Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           3
City              0
State             0
Postal Code      14
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [278]:
superstore.duplicated().sum()

1

**CONCLUSIONES INICIALES**
<br>
Podriamos hacer varias transformaciones de tipo de datos segun los valores de las columnas.
<br>
Hay varias filas con columnas que tienen valores na, que podriamos tratar de resolverlas
<br>
Tenemos una fila duplicada, considerando toda la fila
<br>
Tenemos valores negativos para la columna Sales

**TRATAMIENTO DE FILAS Y COLUMNAS - DATA CLEANING**

In [279]:
#Eliminacion de duplicados
superstore.drop_duplicates(inplace = True, keep='first',ignore_index= True)
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9799 entries, 0 to 9798
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9799 non-null   object
 1   Order Date     9799 non-null   object
 2   Ship Date      9799 non-null   object
 3   Ship Mode      9799 non-null   object
 4   Customer ID    9799 non-null   object
 5   Customer Name  9799 non-null   object
 6   Segment        9799 non-null   object
 7   Country        9796 non-null   object
 8   City           9799 non-null   object
 9   State          9799 non-null   object
 10  Postal Code    9785 non-null   float64
 11  Region         9799 non-null   object
 12  Product ID     9799 non-null   object
 13  Category       9799 non-null   object
 14  Sub-Category   9799 non-null   object
 15  Product Name   9799 non-null   object
 16  Sales          9799 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.3+ MB

In [280]:
# Asignacion valores nulos de Postal Code, California -> 90036
condicion1 = superstore["State"].str.contains('california', case=False)
condicion2 = superstore["Postal Code"].isnull()
mask = (condicion1 & condicion2)
superstore.loc[mask,'Postal Code']= 90036

In [281]:
# Asignacion valores nulos de Postal Code, Ohio -> 44256
condicion1 = superstore["State"].str.contains('ohio', case=False)
condicion2 = superstore["Postal Code"].isnull()
mask = (condicion1 & condicion2)
superstore.loc[mask,'Postal Code'] = 44256

In [282]:
# Asignacion valores nulos de Postal Code, Pennsyilvania -> 19140
condicion1 = superstore["State"].str.contains('pennsylvania', case=False)
condicion2 = superstore["Postal Code"].isnull()
mask = (condicion1 & condicion2)
superstore.loc[mask, 'Postal Code'] = 19140

In [283]:
# Asignacion valores nulos de Postal Code, nulos restantes -> 0
superstore.fillna({'Postal Code': '0'},inplace= True)

In [307]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9758 entries, 0 to 9798
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9758 non-null   object
 1   Order Date     9758 non-null   datetime64[ns]
 2   Ship Date      9758 non-null   datetime64[ns]
 3   Ship Mode      9758 non-null   category
 4   Customer ID    9758 non-null   category
 5   Customer Name  9758 non-null   object
 6   Segment        9758 non-null   category
 7   Country        9758 non-null   category
 8   City           9758 non-null   category
 9   State          9758 non-null   category
 10  Postal Code    9758 non-null   int32
 11  Region         9758 non-null   category
 12  Product ID     9758 non-null   category
 13  Category       9758 non-null   category
 14  Sub-Category   9758 non-null   category
 15  Product Name   9758 non-null   object
 16  Sales          9758 non-null   float64
dtypes: category(10), datetime64[ns](2), float64(1), int32(1), object(3)
memory usage: 836.4+ KB

**Columna Country**

In [285]:
superstore["Country"].unique()

array(['United States', nan], dtype=object)

In [286]:
condicion1 = superstore["Country"].isnull()
superstore.loc[condicion1]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
213,CA-2016-146262,02/01/2016,09/01/2016,Standard Class,VW-21775,Victoria Wilson,Corporate,NaN,Medina,Ohio,44256.0,East,FUR-BO-10004695,Furniture,Bookcases,O'Sullivan 2-Door Barrister Bookcase in Odessa...,452.45
260,CA-2018-163139,01/12/2018,03/12/2018,Second Class,CC-12670,Craig Carreira,Consumer,NaN,New York City,New York,10009.0,East,OFF-BI-10003460,Office Supplies,Binders,Acco 3-Hole Punch,17.52
261,US-2018-155299,08/06/2018,12/06/2018,Standard Class,Dl-13600,Dorris liebe,Corporate,NaN,Pasadena,Texas,77506.0,Central,OFF-AP-10002203,Office Supplies,Appliances,Eureka Disposable Bags for Sanitaire Vibra Gro...,1624.00

In [287]:
# Asignacion valores nulos de Country, nulos restantes -> 'United States'
superstore.fillna({'Country': 'United States'},inplace= True)

In [288]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9799 entries, 0 to 9798
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9799 non-null   object
 1   Order Date     9799 non-null   object
 2   Ship Date      9799 non-null   object
 3   Ship Mode      9799 non-null   object
 4   Customer ID    9799 non-null   object
 5   Customer Name  9799 non-null   object
 6   Segment        9799 non-null   object
 7   Country        9799 non-null   object
 8   City           9799 non-null   object
 9   State          9799 non-null   object
 10  Postal Code    9799 non-null   object
 11  Region         9799 non-null   object
 12  Product ID     9799 non-null   object
 13  Category       9799 non-null   object
 14  Sub-Category   9799 non-null   object
 15  Product Name   9799 non-null   object
 16  Sales          9799 non-null   float64
dtypes: float64(1), object(16)
memory usage: 1.3+ MB

**Asignacion de tipos de datos a las columnas**

In [289]:
superstore.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code       object
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
dtype: object

In [290]:
# Se cambia el tipo de datos de Order Date a fecha
superstore["Order Date"] = pd.to_datetime(superstore["Order Date"],format='mixed')

In [291]:
# Se cambia el tipo de datos de Ship Date a fecha
superstore["Ship Date"] = pd.to_datetime(superstore["Ship Date"],format='mixed')

In [ ]:
superstore["Ship Mode"].unique()

In [292]:
superstore["Ship Mode"]= superstore["Ship Mode"].astype('category')

In [ ]:
superstore["Customer ID"].unique()

In [293]:
superstore["Customer ID"]= superstore["Customer ID"].astype('category')

In [ ]:
superstore["Category"].unique()

In [294]:
superstore["Category"]= superstore["Category"].astype('category')

In [ ]:
superstore["Sub-Category"].unique()

In [295]:
superstore["Sub-Category"]= superstore["Sub-Category"].astype('category')

In [ ]:
superstore["Segment"].unique()

In [296]:
superstore["Segment"]= superstore["Segment"].astype('category')

In [ ]:
superstore["Country"].unique()

In [297]:
superstore["Country"]= superstore["Country"].astype('category')

In [ ]:
superstore["City"].unique()

In [298]:
superstore["City"]= superstore["City"].astype('category')

In [ ]:
superstore["State"].unique()

In [299]:
superstore["State"]= superstore["State"].astype('category')

In [301]:
superstore["Postal Code"] = superstore["Postal Code"] .astype('int')

In [ ]:
superstore["Region"].unique()

In [302]:
superstore["Region"]= superstore["Region"].astype('category')

In [ ]:
superstore["Product ID"].unique()

In [303]:
superstore["Product ID"]= superstore["Product ID"].astype('category')

In [304]:
condicion1 = superstore["Sales"]<0
superstore.loc[(condicion1)]["Sales"].size

41

**OPCION 1 , QUE PODRIA DISTORSIONAR LOS RESULTADOS**

In [ ]:
"""
def  mediaCantidad(fila):
    
    if (fila["Sales"]<0):
        filtroSegmento = superstore["Segment"] == fila["Segment"]
        filtroPais = superstore["Country"] == fila["Country"]
        filtroRegion = superstore["Region"] == fila["Region"]
        filtroCiudad = superstore["City"] == fila["City"]
        filtroEstado = superstore["State"] == fila["State"]
        filtroCategoria = superstore["Category"] == fila["Category"]
        filtroSubCategoria = superstore["Sub-Category"] == fila["Sub-Category"]
        filtroProducto = superstore["Product ID"] == fila["Product ID"]
        
        mediaCantidad = superstore.loc[(filtroSegmento & filtroPais & filtroRegion & filtroCiudad & filtroEstado & filtroCategoria & filtroSubCategoria & filtroProducto),"Sales"].mean(skipna=True).astype('float')
        #mediaCantidad = superstore.loc[(filtroProducto),"Sales"].mean(skipna=True).astype('float')
        print(mediaCantidad)
        return mediaCantidad
    else:
        return fila["Sales"]

ventas = superstore.apply(mediaCantidad,axis='columns')
#ventas
superstore["Sales"]=ventas
"""

**OPCION 2 , ELIMINAR LOS REGISTROS QUE EN SALES, TENGAN VALOR NEGATIVO**

In [305]:

superstore.drop(superstore[(superstore["Sales"]<0)].index,inplace = True)

In [306]:
superstore.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs....,731.94
2,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62
3,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,9575775.00
4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22368.00