**OBLIGATORIO FINAL G445 - GRUPO 8**
<br>**INTEGRANTES:**
<br>
<br>*Theo Pereira, 5703834-3, theopereira2001@gmail.com*
<br>*Carlos PÃ­riz, 4298784-4, piriz.carlos@gmail.com*
<br>*Gabriel	Better,3138871-2, gabrielbetter@gmail.com*

In [6]:
### Importacion de librerias ###

# Sistema
import os

# Tratamiento de datos
import pandas as pd
import numpy as np
import datetime as dt
import math

# Visualizacion 
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
# Carga del archivo superstore a dataframe
# Selecciono la columna Row ID, como indice ya que pareciera ser el identificador de fila, independiente de los datos
miPath = os.path.abspath("")
superstore = pd.read_csv(miPath+"/Superstore.csv")
superstore.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs....,731.94
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,9575775.00
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22368.00

**Acercamiento a los datos**

**Tratamos de indexar por 'Row ID', evaluando la columna**

In [8]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9801 entries, 0 to 9800
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9801 non-null   int64
 1   Order ID       9801 non-null   object
 2   Order Date     9801 non-null   object
 3   Ship Date      9801 non-null   object
 4   Ship Mode      9801 non-null   object
 5   Customer ID    9801 non-null   object
 6   Customer Name  9801 non-null   object
 7   Segment        9801 non-null   object
 8   Country        9798 non-null   object
 9   City           9801 non-null   object
 10  State          9801 non-null   object
 11  Postal Code    9787 non-null   float64
 12  Region         9801 non-null   object
 13  Product ID     9801 non-null   object
 14  Category       9801 non-null   object
 15  Sub-Category   9801 non-null   object
 16  Product Name   9801 non-null   object
 17  Sales          9801 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [9]:
#Verificamos repetidos para esa columna
superstore["Row ID"].duplicated(keep= 'first').value_counts()

Row ID
False    9800
True        1
Name: count, dtype: int64

In [10]:
superstore.loc[superstore["Row ID"].duplicated(keep='first')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
9800,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10384.0

In [11]:
superstore.loc[superstore['Row ID']==9800]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10384.0
9800,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10384.0

In [12]:
superstore.loc[superstore.duplicated(keep = 'first')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
9800,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10384.0

In [13]:
# Vemos que aparte de repetir el valor  de Row ID, se repiten los valores para toda la fila, estaria duplicada, entonces borramos la fila
superstore.drop_duplicates(inplace = True, keep='first',ignore_index= False)
superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9797 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9786 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.4+ MB

In [14]:
# Ahora que tiene valores distintos y sabemos que no tiene nulos, indexamos por Row ID
superstore.set_index('Row ID',drop = True, inplace = True)
superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 1 to 9800
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9800 non-null   object
 1   Order Date     9800 non-null   object
 2   Ship Date      9800 non-null   object
 3   Ship Mode      9800 non-null   object
 4   Customer ID    9800 non-null   object
 5   Customer Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9797 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9786 non-null   float64
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.3+ MB

In [15]:
superstore.sample(10)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
5699,CA-2017-143441,05/11/2017,05/11/2017,Same Day,EB-14170,Evan Bailliet,Consumer,United States,Laredo,Texas,78041.0,Central,OFF-LA-10002312,Office Supplies,Labels,Avery 490,11.84
9144,US-2018-166688,20/05/2018,26/05/2018,Standard Class,RD-19480,Rick Duston,Consumer,United States,Las Vegas,Nevada,89115.0,West,TEC-PH-10004094,Technology,Phones,Motorola L703CM,1123128.00
2474,CA-2017-114972,03/11/2017,06/11/2017,First Class,PF-19225,Phillip Flathmann,Consumer,United States,Los Angeles,California,90032.0,West,FUR-CH-10001190,Furniture,Chairs,Global Deluxe High-Back Office Chair in Storm,217584.00
6218,US-2016-129553,27/07/2016,02/08/2016,Standard Class,PG-18820,Patrick Gardner,Consumer,United States,Louisville,Kentucky,40214.0,South,TEC-PH-10004897,Technology,Phones,Mediabridge Sport Armband iPhone 5s,29.97
1704,CA-2015-139857,02/02/2015,06/02/2015,Standard Class,CD-12790,Cynthia Delaney,Home Office,United States,San Diego,California,92037.0,West,OFF-FA-10001843,Office Supplies,Fasteners,Staples,12.35
2913,CA-2015-113929,16/06/2015,21/06/2015,Standard Class,CK-12205,Chloris Kastensmidt,Consumer,United States,Hempstead,New York,11550.0,East,OFF-AR-10003772,Office Supplies,Art,Boston 16750 Black Compact Battery Pencil Shar...,35.00
6363,CA-2018-110443,21/11/2018,25/11/2018,Standard Class,CK-12205,Chloris Kastensmidt,Consumer,United States,Renton,Washington,98059.0,West,OFF-BI-10001670,Office Supplies,Binders,Vinyl Sectional Post Binders,150.80
779,CA-2016-144267,21/08/2016,23/08/2016,First Class,NZ-18565,Nick Zandusky,Home Office,United States,San Francisco,California,94110.0,West,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,59.94
3231,CA-2018-131625,01/09/2018,05/09/2018,Second Class,BN-11515,Bradley Nguyen,Consumer,United States,New York City,New York,10009.0,East,FUR-FU-10004960,Furniture,Furnishings,"Seth Thomas 12"" Clock w/ Goldtone Case",114.90
4976,CA-2016-142202,18/09/2016,23/09/2016,Second Class,JR-16210,Justin Ritter,Corporate,United States,Jacksonville,Florida,32216.0,South,TEC-AC-10003198,Technology,Accessories,Enermax Acrylux Wireless Keyboard,717.12

**Analisis inicial, luego de indexar**

In [16]:
# Dimensiones de los datos
superstore.shape

(9800, 17)

In [17]:
superstore.ndim

2

In [18]:
superstore.shape

(9800, 17)

In [19]:
# Muestreo de datos
superstore.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs....,731.94
3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62
4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,9575775.00
5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22368.00

In [20]:
superstore.sample(5)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
8319,CA-2018-130904,11/04/2018,16/04/2018,Standard Class,HM-14980,Henry MacAllister,Consumer,United States,Burlington,North Carolina,27217.0,South,OFF-AR-10000127,Office Supplies,Art,Newell 321,20992.00
5126,CA-2015-160766,14/09/2015,14/09/2015,Same Day,DM-13015,Darrin Martin,Consumer,United States,New York City,New York,10009.0,East,OFF-EN-10001099,Office Supplies,Envelopes,Staple envelope,68.46
6705,CA-2016-139164,23/06/2016,28/06/2016,Standard Class,CS-12355,Christine Sundaresam,Consumer,United States,Long Beach,California,90805.0,West,OFF-FA-10003059,Office Supplies,Fasteners,Assorted Color Push Pins,5.43
1954,CA-2018-157987,02/09/2018,06/09/2018,Standard Class,AC-10615,Ann Chong,Corporate,United States,New York City,New York,10009.0,East,FUR-CH-10003379,Furniture,Chairs,Global Commerce Series High-Back Swivel/Tilt C...,1282.41
3705,CA-2016-104941,13/06/2016,19/06/2016,Standard Class,DH-13075,Dave Hallsten,Corporate,United States,Decatur,Alabama,35601.0,South,TEC-CO-10004202,Technology,Copiers,Brother DCP1000 Digital 3 in 1 Multifunction M...,899.97

**Informacion de las columnas**

In [21]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 1 to 9800
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9800 non-null   object
 1   Order Date     9800 non-null   object
 2   Ship Date      9800 non-null   object
 3   Ship Mode      9800 non-null   object
 4   Customer ID    9800 non-null   object
 5   Customer Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9797 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9786 non-null   float64
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.3+ MB

In [22]:
superstore.describe()

        Postal Code         Sales
count   9786.000000  9.800000e+03
mean   55274.693644  1.033335e+05
std    32041.894892  5.219698e+05
min     1040.000000 -3.286850e+05
25%    23223.000000  5.215000e+01
50%    58103.000000  5.886900e+02
75%    90008.000000  4.534400e+04
max    99301.000000  2.396266e+07

In [23]:
superstore.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code      float64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
dtype: object

In [24]:
superstore.isnull().sum()

Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           3
City              0
State             0
Postal Code      14
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [25]:
superstore.duplicated().sum()

1

**CONCLUSIONES INICIALES**
<br>
Podriamos hacer varias transformaciones de tipo de datos segun los valores de las columnas.
<br>
Hay varias filas con columnas que tienen valores na, que podriamos tratar de resolverlas
<br>
Tenemos una fila duplicada, considerando toda la fila
<br>
Tenemos valores negativos para la columna Sales

**TRATAMIENTO DE FILAS Y COLUMNAS - DATA CLEANING**

In [26]:
#Eliminacion de duplicados
superstore.drop_duplicates(inplace = True, keep='first',ignore_index= True)
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9799 entries, 0 to 9798
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9799 non-null   object
 1   Order Date     9799 non-null   object
 2   Ship Date      9799 non-null   object
 3   Ship Mode      9799 non-null   object
 4   Customer ID    9799 non-null   object
 5   Customer Name  9799 non-null   object
 6   Segment        9799 non-null   object
 7   Country        9796 non-null   object
 8   City           9799 non-null   object
 9   State          9799 non-null   object
 10  Postal Code    9785 non-null   float64
 11  Region         9799 non-null   object
 12  Product ID     9799 non-null   object
 13  Category       9799 non-null   object
 14  Sub-Category   9799 non-null   object
 15  Product Name   9799 non-null   object
 16  Sales          9799 non-null   float64
dtypes: float64(2), object(15)
memory usage: 1.3+ MB

In [27]:
# Asignacion valores nulos de Postal Code, California -> 90036
condicion1 = superstore["State"].str.contains('california', case=False)
condicion2 = superstore["Postal Code"].isnull()
mask = (condicion1 & condicion2)
superstore.loc[mask,'Postal Code']= 90036

In [28]:
# Asignacion valores nulos de Postal Code, Ohio -> 44256
condicion1 = superstore["State"].str.contains('ohio', case=False)
condicion2 = superstore["Postal Code"].isnull()
mask = (condicion1 & condicion2)
superstore.loc[mask,'Postal Code'] = 44256

In [29]:
# Asignacion valores nulos de Postal Code, Pennsyilvania -> 19140
condicion1 = superstore["State"].str.contains('pennsylvania', case=False)
condicion2 = superstore["Postal Code"].isnull()
mask = (condicion1 & condicion2)
superstore.loc[mask, 'Postal Code'] = 19140

In [30]:
# Asignacion valores nulos de Postal Code, nulos restantes -> 0
superstore.fillna({'Postal Code': '0'},inplace= True)

In [31]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9799 entries, 0 to 9798
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9799 non-null   object
 1   Order Date     9799 non-null   object
 2   Ship Date      9799 non-null   object
 3   Ship Mode      9799 non-null   object
 4   Customer ID    9799 non-null   object
 5   Customer Name  9799 non-null   object
 6   Segment        9799 non-null   object
 7   Country        9796 non-null   object
 8   City           9799 non-null   object
 9   State          9799 non-null   object
 10  Postal Code    9799 non-null   object
 11  Region         9799 non-null   object
 12  Product ID     9799 non-null   object
 13  Category       9799 non-null   object
 14  Sub-Category   9799 non-null   object
 15  Product Name   9799 non-null   object
 16  Sales          9799 non-null   float64
dtypes: float64(1), object(16)
memory usage: 1.3+ MB

**Columna Country**

In [32]:
superstore["Country"].unique()

array(['United States', nan], dtype=object)

In [33]:
condicion1 = superstore["Country"].isnull()
superstore.loc[condicion1]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
213,CA-2016-146262,02/01/2016,09/01/2016,Standard Class,VW-21775,Victoria Wilson,Corporate,NaN,Medina,Ohio,44256.0,East,FUR-BO-10004695,Furniture,Bookcases,O'Sullivan 2-Door Barrister Bookcase in Odessa...,452.45
260,CA-2018-163139,01/12/2018,03/12/2018,Second Class,CC-12670,Craig Carreira,Consumer,NaN,New York City,New York,10009.0,East,OFF-BI-10003460,Office Supplies,Binders,Acco 3-Hole Punch,17.52
261,US-2018-155299,08/06/2018,12/06/2018,Standard Class,Dl-13600,Dorris liebe,Corporate,NaN,Pasadena,Texas,77506.0,Central,OFF-AP-10002203,Office Supplies,Appliances,Eureka Disposable Bags for Sanitaire Vibra Gro...,1624.00

In [34]:
# Asignacion valores nulos de Country, nulos restantes -> 'United States'
superstore.fillna({'Country': 'United States'},inplace= True)

In [35]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9799 entries, 0 to 9798
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9799 non-null   object
 1   Order Date     9799 non-null   object
 2   Ship Date      9799 non-null   object
 3   Ship Mode      9799 non-null   object
 4   Customer ID    9799 non-null   object
 5   Customer Name  9799 non-null   object
 6   Segment        9799 non-null   object
 7   Country        9799 non-null   object
 8   City           9799 non-null   object
 9   State          9799 non-null   object
 10  Postal Code    9799 non-null   object
 11  Region         9799 non-null   object
 12  Product ID     9799 non-null   object
 13  Category       9799 non-null   object
 14  Sub-Category   9799 non-null   object
 15  Product Name   9799 non-null   object
 16  Sales          9799 non-null   float64
dtypes: float64(1), object(16)
memory usage: 1.3+ MB

**Asignacion de tipos de datos a las columnas**

In [36]:
superstore.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code       object
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
dtype: object

In [37]:
# Se cambia el tipo de datos de Order Date a fecha
superstore["Order Date"] = pd.to_datetime(superstore["Order Date"],format='mixed')

In [38]:
# Se cambia el tipo de datos de Ship Date a fecha
superstore["Ship Date"] = pd.to_datetime(superstore["Ship Date"],format='mixed')

In [39]:
superstore["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [40]:
superstore["Ship Mode"]= superstore["Ship Mode"].astype('category')

In [41]:
superstore["Customer ID"].unique()

array(['CG-12520', 'DV-13045', 'SO-20335', 'BH-11710', 'AA-10480',
       'IM-15070', 'HP-14815', 'PK-19075', 'AG-10270', 'ZD-21925',
       'KB-16585', 'SF-20065', 'EB-13870', 'EH-13945', 'TB-21520',
       'MA-17560', 'GH-14485', 'SN-20710', 'LC-16930', 'RA-19885',
       'ES-14080', 'ON-18715', 'PO-18865', 'LH-16900', 'DP-13000',
       'JM-15265', 'TB-21055', 'KM-16720', 'PS-18970', 'BS-11590',
       'KD-16270', 'HM-14980', 'JE-15745', 'KB-16600', 'SC-20770',
       'DN-13690', 'JC-16105', 'CS-12400', 'PG-18895', 'GM-14455',
       'JS-15685', 'KB-16315', 'RB-19705', 'PN-18775', 'KD-16345',
       'ER-13855', 'RB-19465', 'GZ-14470', 'LC-16870', 'JM-15250',
       'PA-19060', 'CV-12805', 'CL-12565', 'RC-19960', 'DK-13090',
       'GG-14650', 'SC-20725', 'AD-10180', 'PF-19165', 'TS-21610',
       'LS-16975', 'DW-13585', 'LC-16885', 'JD-15895', 'SH-19975',
       'SG-20080', 'HA-14920', 'MG-17680', 'JE-16165', 'TW-21025',
       'SP-20650', 'NK-18490', 'DB-13060', 'NP-18670', 'TT-21070',
       'EM-13960', 'RD-19900', 'MJ-17740', 'BM-11140', 'CS-12130',
       'JB-15400', 'SJ-20500', 'JK-15640', 'DK-13150', 'RM-19675',
       'SK-19990', 'FM-14290', 'AM-10360', 'MP-17470', 'MZ-17515',
       'CB-12025', 'VM-21685', 'FH-14365', 'MB-17305', 'BS-11755',
       'LC-17140', 'HK-14890', 'LE-16810', 'JH-15985', 'MS-17980',
       'VW-21775', 'JH-15910', 'JB-15925', 'DS-13180', 'VD-21670',
       'EA-14035', 'DB-13120', 'KL-16645', 'DW-13480', 'LH-17155',
       'KC-16540', 'DL-13315', 'DR-12880', 'CC-12670', 'Dl-13600',
       'SB-20290', 'RC-19825', 'AH-10210', 'CB-12535', 'CA-12310',
       'KH-16690', 'BB-10990', 'AG-10495', 'JO-15280', 'AH-10195',
       'NZ-18565', 'KL-16555', 'AS-10225', 'CR-12625', 'SH-20395',
       'BP-11185', 'TS-21205', 'AG-10525', 'SP-20860', 'NM-18445',
       'FA-14230', 'GK-14620', 'DJ-13510', 'PO-18850', 'JL-15850',
       'DB-13615', 'AC-10420', 'CC-12550', 'TD-20995', 'AB-10060',
       'JL-15505', 'VB-21745', 'KW-16435', 'JD-16060', 'MK-17905',
       'GT-14755', 'AG-10900', 'MM-18280', 'AR-10405', 'RA-19915',
       'AS-10285', 'LA-16780', 'DO-13435', 'DK-13225', 'NG-18430',
       'MV-18190', 'JG-15115', 'BP-11095', 'VP-21730', 'SS-20140',
       'AG-10675', 'LF-17185', 'RF-19840', 'KH-16510', 'KC-16675',
       'CJ-12010', 'PB-19150', 'MP-17965', 'NF-18385', 'SD-20485',
       'KH-16630', 'RB-19795', 'MK-18160', 'PO-19180', 'BB-11545',
       'TB-21595', 'RB-19360', 'EB-13705', 'SC-20095', 'TN-21040',
       'JS-15940', 'MH-17785', 'JP-15520', 'JE-15475', 'JG-15805',
       'XP-21865', 'EM-14065', 'MT-18070', 'SA-20830', 'CW-11905',
       'AJ-10960', 'SS-20590', 'RO-19780', 'MD-17350', 'MY-17380',
       'CM-12385', 'LS-17245', 'BN-11515', 'DB-13210', 'MC-17605',
       'BD-11605', 'PH-18790', 'MG-18145', 'KB-16240', 'JC-15340',
       'RL-19615', 'AA-10375', 'EP-13915', 'DK-12985', 'BD-11500',
       'LM-17065', 'AS-10135', 'BD-11320', 'GT-14710', 'AJ-10945',
       'OT-18730', 'LP-17080', 'CA-12775', 'JF-15490', 'FP-14320',
       'EB-13840', 'JF-15415', 'SF-20200', 'TG-21640', 'CS-11950',
       'CC-12145', 'DV-13465', 'BD-11725', 'ZC-21910', 'MS-17830',
       'LR-16915', 'TP-21130', 'CK-12205', 'AS-10240', 'AR-10510',
       'NB-18655', 'GD-14590', 'CK-12595', 'NG-18355', 'CA-12265',
       'SF-20965', 'MO-17800', 'AT-10735', 'FM-14380', 'DJ-13420',
       'ME-17725', 'JD-16150', 'JL-15835', 'SC-20305', 'CC-12430',
       'AR-10825', 'SR-20740', 'CR-12730', 'EH-14125', 'SP-20545',
       'TH-21235', 'RP-19390', 'RB-19570', 'CD-11980', 'DJ-13630',
       'GT-14635', 'MC-17845', 'RA-19285', 'NP-18325', 'AB-10165',
       'JO-15550', 'JK-15370', 'BN-11470', 'DP-13165', 'TH-21550',
       'AP-10915', 'RS-19765', 'SV-20365', 'CK-12325', 'RD-19810',
       'MR-17545', 'SC-20695', 'JF-15355', 'EG-13900', 'DS-13030',
       'PO-19195', 'SS-20875', 'PB-19105', 'RF-19735', 'YC-21895',
       'DC-13285', 'CP-12340', 'BF-11020', 'LH-17020', 'CS-12250',
       'AJ-10795', 'BV-11245', 'DL-12865', 'BM-11785', 'LT-17110',
       'JK-15730', 'ES-14020', 'RH-19495', 'CD-11920', 'HW-14935',
       'MC-18130', 'GM-14440', 'PJ-19015', 'BW-11110', 'TR-21325',
       'PG-18820', 'JL-15175', 'BM-11650', 'EM-14095', 'AF-10885',
       'GA-14725', 'CK-12760', 'DP-13105', 'BK-11260', 'SJ-20125',
       'CM-12445', 'AJ-10780', 'LS-16945', 'GP-14740', 'PK-18910',
       'SM-20005', 'AG-10765', 'PM-19135', 'LL-16840', 'JS-15595',
       'EL-13735', 'PC-18745', 'HL-15040', 'MS-17365', 'GB-14530',
       'JR-16210', 'BE-11335', 'SC-20050', 'RW-19630', 'SE-20110',
       'AH-10075', 'JM-15535', 'JJ-15760', 'RK-19300', 'CG-12040',
       'RP-19270', 'KC-16255', 'KH-16360', 'GH-14665', 'SW-20275',
       'JA-15970', 'DL-12925', 'LW-16990', 'TB-21190', 'BS-11800',
       'RW-19690', 'TZ-21580', 'AS-10630', 'TS-21340', 'SL-20155',
       'MW-18235', 'RD-19585', 'RA-19945', 'MT-17815', 'VG-21790',
       'JS-15880', 'KM-16225', 'HR-14770', 'DE-13255', 'AG-10390',
       'JJ-15445', 'JH-15430', 'RD-19660', 'MO-17500', 'NS-18640',
       'DG-13300', 'NF-18595', 'MG-17650', 'TS-21160', 'BD-11620',
       'CM-12160', 'SN-20560', 'EH-14005', 'FO-14305', 'MS-17710',
       'CC-12100', 'DW-13540', 'BT-11395', 'CY-12745', 'BT-11485',
       'PS-19045', 'PV-18985', 'NM-18520', 'DL-13495', 'CS-12355',
       'FH-14275', 'NC-18340', 'AA-10315', 'LT-16765', 'AP-10720',
       'PM-18940', 'AT-10435', 'CA-12055', 'HR-14830', 'BT-11530',
       'LH-16750', 'SW-20755', 'SP-20620', 'BF-11170', 'KT-16480',
       'BG-11695', 'GM-14680', 'EJ-14155', 'NP-18700', 'MH-18115',
       'JR-15700', 'SM-20950', 'CC-12220', 'PF-19225', 'DC-12850',
       'BD-11770', 'GM-14500', 'TB-21355', 'JH-16180', 'EB-13975',
       'QJ-19255', 'TC-21535', 'CS-12460', 'HG-14965', 'LW-16825',
       'MC-17575', 'LP-17095', 'EB-14170', 'GZ-14545', 'CP-12085',
       'FG-14260', 'LD-17005', 'AB-10255', 'MN-17935', 'JR-15670',
       'JF-15190', 'CM-12115', 'AS-10045', 'BP-11290', 'ND-18370',
       'LB-16735', 'KT-16465', 'HM-14860', 'AB-10600', 'SZ-20035',
       'MG-17890', 'JK-16120', 'PP-18955', 'YS-21880', 'KM-16375',
       'AB-10105', 'HA-14905', 'BT-11305', 'SV-20815', 'RW-19540',
       'DK-12835', 'ST-20530', 'MM-17920', 'PW-19030', 'SC-20440',
       'TS-21085', 'MC-17425', 'ME-17320', 'NH-18610', 'MB-18085',
       'KD-16495', 'KN-16390', 'NP-18685', 'CS-12505', 'MS-17770',
       'CM-12655', 'Co-12640', 'TS-21370', 'JW-15220', 'JD-15790',
       'PC-19000', 'AR-10540', 'AI-10855', 'TB-21400', 'PL-18925',
       'GH-14425', 'MP-18175', 'JM-15655', 'CL-11890', 'DB-13270',
       'IG-15085', 'BO-11425', 'AB-10150', 'JW-16075', 'EB-13750',
       'SG-20470', 'CM-12190', 'AW-10840', 'MC-18100', 'TT-21460',
       'VG-21805', 'MY-18295', 'RD-19480', 'DP-13390', 'ML-17395',
       'JC-15385', 'JG-15160', 'MC-17275', 'NW-18400', 'TB-21280',
       'BS-11380', 'HH-15010', 'CD-12280', 'TH-21100', 'MM-18055',
       'NS-18505', 'RB-19645', 'SW-20455', 'EB-13930', 'PS-18760',
       'HF-14995', 'HZ-14950', 'CD-12790', 'JK-15205', 'FM-14215',
       'ED-13885', 'DA-13450', 'JW-15955', 'RM-19375', 'ML-17755',
       'CC-12685', 'JE-15610', 'RP-19855', 'TB-21175', 'BE-11455',
       'JF-15565', 'PB-19210', 'BT-11680', 'JL-15235', 'CH-12070',
       'ND-18460', 'BF-10975', 'KH-16330', 'GW-14605', 'NC-18625',
       'ME-18010', 'BP-11230', 'JC-15775', 'AS-10090', 'AC-10450',
       'MD-17860', 'DB-13660', 'EH-13990', 'EH-13765', 'SC-20230',
       'JE-15715', 'AC-10615', 'JD-16015', 'CB-12415', 'JS-16030',
       'LW-17215', 'SC-20800', 'AM-10705', 'RH-19510', 'CT-11995',
       'MC-17590', 'CC-12610', 'KA-16525', 'TC-20980', 'BF-11080',
       'MM-17260', 'AH-10120', 'BW-11200', 'SW-20245', 'BS-11665',
       'RF-19345', 'WB-21850', 'TB-21625', 'AF-10870', 'RB-19435',
       'KF-16285', 'JH-15820', 'IL-15100', 'PB-18805', 'RH-19600',
       'AW-10930', 'ML-17410', 'DB-13555', 'MH-17620', 'DK-13375',
       'BT-11440', 'DB-13405', 'TG-21310', 'BF-11005', 'JM-16195',
       'MZ-17335', 'MW-18220', 'MV-17485', 'SM-20320', 'TP-21415',
       'JK-15625', 'PJ-18835', 'RS-19420', 'SV-20935', 'BC-11125',
       'EM-13825', 'BM-11575', 'KN-16705', 'KW-16570', 'SC-20260',
       'CV-12295', 'SG-20605', 'TM-21010', 'EM-13810', 'ML-18040',
       'CR-12580', 'AZ-10750', 'PW-19240', 'SC-20380', 'CM-11935',
       'GM-14695', 'TB-21250', 'JM-15865', 'SC-20575', 'LS-17200',
       'RR-19315', 'DB-12910', 'TT-21220', 'LO-17170', 'KD-16615',
       'NB-18580', 'BD-11635', 'CM-12235', 'EN-13780', 'KN-16450',
       'BO-11350', 'AG-10300', 'MC-17635', 'TA-21385', 'JF-15295',
       'TT-21265', 'SB-20170', 'CL-12700', 'HG-15025', 'NL-18310',
       'RR-19525', 'TC-21295', 'SV-20785', 'BE-11410', 'SC-20680',
       'DF-13135', 'FH-14350', 'MS-17530', 'RH-19555', 'GA-14515',
       'JP-16135', 'Dp-13240', 'MO-17950', 'DL-13330', 'MH-18025',
       'DR-12940', 'DM-13015', 'CA-11965', 'AC-10660', 'DM-13345',
       'VF-21715', 'CC-12370', 'BF-11275', 'HG-14845', 'BP-11155',
       'EM-14140', 'MA-17995', 'AY-10555', 'GB-14575', 'JB-16045',
       'MG-17875', 'SR-20425', 'JB-16000', 'DM-12955', 'TC-21475',
       'SW-20350', 'RE-19450', 'BF-11215', 'KB-16405', 'JG-15310',
       'EC-14050', 'EB-14110', 'JP-15460', 'CS-11845', 'GH-14410',
       'PT-19090', 'JL-15130', 'AH-10030', 'CC-12475', 'DW-13195',
       'SJ-20215', 'BG-11740', 'LB-16795', 'CM-11815', 'EH-14185',
       'TS-21505', 'PR-18880', 'LC-17050', 'CS-12490', 'DH-13075',
       'JO-15145', 'AH-10690', 'HJ-14875', 'MH-17455', 'RD-19930',
       'SC-20020', 'SU-20665', 'FC-14335', 'RB-19330', 'NC-18535',
       'DB-12970', 'MF-17665', 'RM-19750', 'VM-21835', 'EJ-13720',
       'NC-18415', 'LS-17230', 'KE-16420', 'DH-13675', 'PF-19120',
       'VT-21700', 'MG-17695', 'SP-20920', 'CS-12175', 'DK-12895',
       'KM-16660', 'AA-10645', 'DD-13570', 'AH-10465', 'TP-21565',
       'EK-13795', 'CR-12820', 'SG-20890', 'AH-10585', 'NF-18475',
       'BS-11365', 'SH-20635', 'RD-19720', 'AG-10330', 'GR-14560',
       'VS-21820', 'TM-21490', 'TS-21430', 'DB-13360', 'NR-18550',
       'CS-11860', 'MF-18250', 'LW-17125', 'AR-10345', 'KS-16300',
       'AB-10015', 'LR-17035', 'SS-20410', 'JM-15580', 'JK-15325',
       'DM-13525', 'ML-18265', 'MH-17290', 'FC-14245', 'TH-21115',
       'JK-16090', 'SB-20185', 'BG-11035', 'BW-11065', 'MG-18205',
       'DO-13645', 'BP-11050', 'TS-21655', 'EM-14200', 'AO-10810',
       'MH-17440', 'SS-20515', 'LD-16855', 'VP-21760', 'TC-21145',
       'IM-15055', 'AR-10570', 'CM-12715', 'FW-14395', 'LC-16960',
       'HE-14800', 'BD-11560', 'HD-14785', 'CJ-11875', 'RS-19870',
       'SC-20845', 'RE-19405', 'SM-20905'], dtype=object)

In [42]:
superstore["Customer ID"]= superstore["Customer ID"].astype('category')

In [43]:
superstore["Category"].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [44]:
superstore["Category"]= superstore["Category"].astype('category')

In [45]:
superstore["Sub-Category"].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [46]:
superstore["Sub-Category"]= superstore["Sub-Category"].astype('category')

In [47]:
superstore["Segment"].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [48]:
superstore["Segment"]= superstore["Segment"].astype('category')

In [49]:
superstore["Country"].unique()

array(['United States'], dtype=object)

In [50]:
superstore["Country"]= superstore["Country"].astype('category')

In [51]:
superstore["City"].unique()

array(['Henderson', 'Los Angeles', 'Fort Lauderdale', 'Concord',
       'Seattle', 'Fort Worth', 'Madison', 'West Jordan', 'San Francisco',
       'Fremont', 'Philadelphia', 'Orem', 'Houston', 'Richardson',
       'Naperville', 'Melbourne', 'Eagan', 'Westland', 'Dover',
       'New Albany', 'New York City', 'Troy', 'Chicago', 'Gilbert',
       'Springfield', 'Jackson', 'Memphis', 'Decatur', 'Durham',
       'Columbia', 'Rochester', 'Minneapolis', 'Portland', 'Saint Paul',
       'Aurora', 'Charlotte', 'Orland Park', 'Urbandale', 'Columbus',
       'Bristol', 'Wilmington', 'Bloomington', 'Phoenix', 'Roseville',
       'Independence', 'Pasadena', 'Newark', 'Franklin', 'Scottsdale',
       'San Jose', 'Edmond', 'Carlsbad', 'San Antonio', 'Monroe',
       'Fairfield', 'Grand Prairie', 'Redlands', 'Hamilton', 'Westfield',
       'Akron', 'Denver', 'Dallas', 'Whittier', 'Saginaw', 'Medina',
       'Dublin', 'Detroit', 'Tampa', 'Santa Clara', 'Lakeville',
       'San Diego', 'Brentwood', 'Chapel Hill', 'Morristown',
       'Cincinnati', 'Inglewood', 'Tamarac', 'Colorado Springs',
       'Belleville', 'Taylor', 'Lakewood', 'Arlington', 'Arvada',
       'Hackensack', 'Saint Petersburg', 'Long Beach', 'Hesperia',
       'Murfreesboro', 'Layton', 'Austin', 'Lowell', 'Manchester',
       'Harlingen', 'Tucson', 'Quincy', 'Pembroke Pines', 'Des Moines',
       'Peoria', 'Las Vegas', 'Warwick', 'Miami', 'Huntington Beach',
       'Richmond', 'Louisville', 'Lawrence', 'Canton', 'New Rochelle',
       'Gastonia', 'Jacksonville', 'Auburn', 'Norman', 'Park Ridge',
       'Amarillo', 'Lindenhurst', 'Huntsville', 'Fayetteville',
       'Costa Mesa', 'Parker', 'Atlanta', 'Gladstone', 'Great Falls',
       'Lakeland', 'Montgomery', 'Mesa', 'Green Bay', 'Anaheim',
       'Marysville', 'Salem', 'Laredo', 'Grove City', 'Dearborn',
       'Warner Robins', 'Vallejo', 'Mission Viejo', 'Rochester Hills',
       'Plainfield', 'Sierra Vista', 'Vancouver', 'Cleveland', 'Tyler',
       'Burlington', 'Waynesboro', 'Chester', 'Cary', 'Palm Coast',
       'Mount Vernon', 'Hialeah', 'Oceanside', 'Evanston', 'Trenton',
       'Cottage Grove', 'Bossier City', 'Lancaster', 'Asheville',
       'Lake Elsinore', 'Omaha', 'Edmonds', 'Santa Ana', 'Milwaukee',
       'Florence', 'Lorain', 'Linden', 'Salinas', 'New Brunswick',
       'Garland', 'Norwich', 'Alexandria', 'Toledo', 'Farmington',
       'Riverside', 'Torrance', 'Round Rock', 'Boca Raton',
       'Virginia Beach', 'Murrieta', 'Olympia', 'Washington',
       'Jefferson City', 'Saint Peters', 'Rockford', 'Brownsville',
       'Yonkers', 'Oakland', 'Clinton', 'Encinitas', 'Roswell',
       'Jonesboro', 'Antioch', 'Homestead', 'La Porte', 'Lansing',
       'Cuyahoga Falls', 'Reno', 'Harrisonburg', 'Escondido', 'Royal Oak',
       'Rockville', 'Coral Springs', 'Buffalo', 'Boynton Beach',
       'Gulfport', 'Fresno', 'Greenville', 'Macon', 'Cedar Rapids',
       'Providence', 'Pueblo', 'Deltona', 'Murray', 'Middletown',
       'Freeport', 'Pico Rivera', 'Provo', 'Pleasant Grove', 'Smyrna',
       'Parma', 'Mobile', 'New Bedford', 'Irving', 'Vineland', 'Glendale',
       'Niagara Falls', 'Thomasville', 'Westminster', 'Coppell', 'Pomona',
       'North Las Vegas', 'Allentown', 'Tempe', 'Laguna Niguel',
       'Bridgeton', 'Everett', 'Watertown', 'Appleton', 'Bellevue',
       'Allen', 'El Paso', 'Grapevine', 'Carrollton', 'Kent', 'Lafayette',
       'Tigard', 'Skokie', 'Plano', 'Suffolk', 'Indianapolis', 'Bayonne',
       'Greensboro', 'Baltimore', 'Kenosha', 'Olathe', 'Tulsa', 'Redmond',
       'Raleigh', 'Muskogee', 'Meriden', 'Bowling Green', 'South Bend',
       'Spokane', 'Keller', 'Port Orange', 'Medford', 'Charlottesville',
       'Missoula', 'Apopka', 'Reading', 'Broomfield', 'Paterson',
       'Oklahoma City', 'Chesapeake', 'Lubbock', 'Johnson City',
       'San Bernardino', 'Leominster', 'Bozeman', 'Perth Amboy',
       'Ontario', 'Rancho Cucamonga', 'Moorhead', 'Mesquite', 'Stockton',
       'Ormond Beach', 'Sunnyvale', 'York', 'College Station',
       'Saint Louis', 'Manteca', 'San Angelo', 'Salt Lake City',
       'Knoxville', 'Little Rock', 'Lincoln Park', 'Marion', 'Littleton',
       'Bangor', 'Southaven', 'New Castle', 'Midland', 'Sioux Falls',
       'Fort Collins', 'Clarksville', 'Sacramento', 'Thousand Oaks',
       'Malden', 'Holyoke', 'Albuquerque', 'Sparks', 'Coachella',
       'Elmhurst', 'Passaic', 'North Charleston', 'Newport News',
       'Jamestown', 'Mishawaka', 'La Quinta', 'Tallahassee', 'Nashville',
       'Bellingham', 'Woodstock', 'Haltom City', 'Wheeling',
       'Summerville', 'Hot Springs', 'Englewood', 'Las Cruces', 'Hoover',
       'Frisco', 'Vacaville', 'Waukesha', 'Bakersfield', 'Pompano Beach',
       'Corpus Christi', 'Redondo Beach', 'Orlando', 'Orange',
       'Lake Charles', 'Highland Park', 'Hempstead', 'Noblesville',
       'Apple Valley', 'Mount Pleasant', 'Sterling Heights', 'Eau Claire',
       'Pharr', 'Billings', 'Gresham', 'Chattanooga', 'Meridian',
       'Bolingbrook', 'Maple Grove', 'Woodland', 'Missouri City',
       'Pearland', 'San Mateo', 'Grand Rapids', 'Visalia',
       'Overland Park', 'Temecula', 'Yucaipa', 'Revere', 'Conroe',
       'Tinley Park', 'Dubuque', 'Dearborn Heights', 'Santa Fe',
       'Hickory', 'Carol Stream', 'Saint Cloud', 'North Miami',
       'Plantation', 'Port Saint Lucie', 'Rock Hill', 'Odessa',
       'West Allis', 'Chula Vista', 'Manhattan', 'Altoona', 'Thornton',
       'Champaign', 'Texarkana', 'Edinburg', 'Baytown', 'Greenwood',
       'Woonsocket', 'Superior', 'Bedford', 'Covington', 'Broken Arrow',
       'Miramar', 'Hollywood', 'Deer Park', 'Wichita', 'Mcallen',
       'Iowa City', 'Boise', 'Cranston', 'Port Arthur', 'Citrus Heights',
       'The Colony', 'Daytona Beach', 'Bullhead City', 'Portage', 'Fargo',
       'Elkhart', 'San Gabriel', 'Margate', 'Sandy Springs', 'Mentor',
       'Lawton', 'Hampton', 'Rome', 'La Crosse', 'Lewiston',
       'Hattiesburg', 'Danville', 'Logan', 'Waterbury', 'Athens',
       'Avondale', 'Marietta', 'Yuma', 'Wausau', 'Pasco', 'Oak Park',
       'Pensacola', 'League City', 'Gaithersburg', 'Lehi', 'Tuscaloosa',
       'Moreno Valley', 'Georgetown', 'Loveland', 'Chandler', 'Helena',
       'Kirkwood', 'Waco', 'Frankfort', 'Bethlehem', 'Grand Island',
       'Woodbury', 'Rogers', 'Clovis', 'Jupiter', 'Santa Barbara',
       'Cedar Hill', 'Norfolk', 'Draper', 'Ann Arbor', 'La Mesa',
       'Pocatello', 'Holland', 'Milford', 'Buffalo Grove', 'Lake Forest',
       'Redding', 'Chico', 'Utica', 'Conway', 'Cheyenne', 'Owensboro',
       'Caldwell', 'Kenner', 'Nashua', 'Bartlett', 'Redwood City',
       'Lebanon', 'Santa Maria', 'Des Plaines', 'Longview',
       'Hendersonville', 'Waterloo', 'Cambridge', 'Palatine', 'Beverly',
       'Eugene', 'Oxnard', 'Renton', 'Glenview', 'Delray Beach',
       'Commerce City', 'Texas City', 'Wilson', 'Rio Rancho', 'Goldsboro',
       'Montebello', 'El Cajon', 'Beaumont', 'West Palm Beach', 'Abilene',
       'Normal', 'Saint Charles', 'Camarillo', 'Hillsboro', 'Burbank',
       'Modesto', 'Garden City', 'Atlantic City', 'Longmont', 'Davis',
       'Morgan Hill', 'Clifton', 'Sheboygan', 'East Point', 'Rapid City',
       'Andover', 'Kissimmee', 'Shelton', 'Danbury', 'Sanford',
       'San Marcos', 'Greeley', 'Mansfield', 'Elyria', 'Twin Falls',
       'Coral Gables', 'Romeoville', 'Marlborough', 'Laurel', 'Bryan',
       'Pine Bluff', 'Aberdeen', 'Hagerstown', 'East Orange',
       'Arlington Heights', 'Oswego', 'Coon Rapids', 'San Clemente',
       'San Luis Obispo', 'Springdale'], dtype=object)

In [52]:
superstore["City"]= superstore["City"].astype('category')

In [53]:
superstore["State"].unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [54]:
superstore["State"]= superstore["State"].astype('category')

In [55]:
superstore["Postal Code"] = superstore["Postal Code"] .astype('int')

In [56]:
superstore["Region"].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [57]:
superstore["Region"]= superstore["Region"].astype('category')

In [58]:
superstore["Product ID"].unique()

array(['FUR-BO-10001798', 'FUR-CH-10000454', 'OFF-LA-10000240', ...,
       'TEC-MA-10003589', 'OFF-AP-10003099', 'TEC-PH-10002645'],
      dtype=object)

In [59]:
superstore["Product ID"]= superstore["Product ID"].astype('category')

In [60]:
condicion1 = superstore["Sales"]<0
superstore.loc[(condicion1)]["Sales"].size

41

**OPCION 1 , QUE PODRIA DISTORSIONAR LOS RESULTADOS**

In [61]:
"""
def  mediaCantidad(fila):
    
    if (fila["Sales"]<0):
        filtroSegmento = superstore["Segment"] == fila["Segment"]
        filtroPais = superstore["Country"] == fila["Country"]
        filtroRegion = superstore["Region"] == fila["Region"]
        filtroCiudad = superstore["City"] == fila["City"]
        filtroEstado = superstore["State"] == fila["State"]
        filtroCategoria = superstore["Category"] == fila["Category"]
        filtroSubCategoria = superstore["Sub-Category"] == fila["Sub-Category"]
        filtroProducto = superstore["Product ID"] == fila["Product ID"]
        
        mediaCantidad = superstore.loc[(filtroSegmento & filtroPais & filtroRegion & filtroCiudad & filtroEstado & filtroCategoria & filtroSubCategoria & filtroProducto),"Sales"].mean(skipna=True).astype('float')
        #mediaCantidad = superstore.loc[(filtroProducto),"Sales"].mean(skipna=True).astype('float')
        print(mediaCantidad)
        return mediaCantidad
    else:
        return fila["Sales"]

ventas = superstore.apply(mediaCantidad,axis='columns')
#ventas
superstore["Sales"]=ventas
"""

'\ndef  mediaCantidad(fila):\n    \n    if (fila["Sales"]<0):\n        filtroSegmento = superstore["Segment"] == fila["Segment"]\n        filtroPais = superstore["Country"] == fila["Country"]\n        filtroRegion = superstore["Region"] == fila["Region"]\n        filtroCiudad = superstore["City"] == fila["City"]\n        filtroEstado = superstore["State"] == fila["State"]\n        filtroCategoria = superstore["Category"] == fila["Category"]\n        filtroSubCategoria = superstore["Sub-Category"] == fila["Sub-Category"]\n        filtroProducto = superstore["Product ID"] == fila["Product ID"]\n        \n        mediaCantidad = superstore.loc[(filtroSegmento & filtroPais & filtroRegion & filtroCiudad & filtroEstado & filtroCategoria & filtroSubCategoria & filtroProducto),"Sales"].mean(skipna=True).astype(\'float\')\n        #mediaCantidad = superstore.loc[(filtroProducto),"Sales"].mean(skipna=True).astype(\'float\')\n        print(mediaCantidad)\n        return mediaCantidad\n    else:\n        return fila["Sales"]\n\nventas = superstore.apply(mediaCantidad,axis=\'columns\')\n#ventas\nsuperstore["Sales"]=ventas\n'

**OPCION 2 , ELIMINAR LOS REGISTROS QUE EN SALES, TENGAN VALOR NEGATIVO**

In [62]:

#superstore.drop(superstore[(superstore["Sales"]<0)].index,inplace = True)

*Opcion 3, suponiendo que por error el sistema los tomo negativos y deberian ser positivos*

In [ ]:
condicion1 = superstore["Sales"] < 0
mask = (condicion1)
superstore.loc[mask, 'Sales'] = superstore["Sales"]*(-1)
superstore.describe()

In [63]:
superstore.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,Hon Deluxe Fabric Upholstered Stacking Chairs....,731.94
2,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62
3,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,9575775.00
4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22368.00

In [64]:
# Renombrar la columna Order ID por Numero de Orden
superstore = superstore.rename(columns={'Order ID': 'Numero de Orden'})

# Cambiar el tipo de datos de la columna 'Postal code' a int
superstore['Postal Code'] = superstore['Postal Code'].astype(int)

#vemos que se hayan aplicado bien los cambios

superstore.info()
superstore.columns

<class 'pandas.core.frame.DataFrame'>
Index: 9758 entries, 0 to 9798
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Numero de Orden  9758 non-null   object
 1   Order Date       9758 non-null   datetime64[ns]
 2   Ship Date        9758 non-null   datetime64[ns]
 3   Ship Mode        9758 non-null   category
 4   Customer ID      9758 non-null   category
 5   Customer Name    9758 non-null   object
 6   Segment          9758 non-null   category
 7   Country          9758 non-null   category
 8   City             9758 non-null   category
 9   State            9758 non-null   category
 10  Postal Code      9758 non-null   int32
 11  Region           9758 non-null   category
 12  Product ID       9758 non-null   category
 13  Category         9758 non-null   category
 14  Sub-Category     9758 non-null   category
 15  Product Name     9758 non-null   object
 16  Sales            9758 non-null   float64
dtypes: category(10), datetime64[ns](2), float64(1), int32(1), object(3)
memory usage: 836.4+ KB

Index(['Numero de Orden', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [66]:
#Nuevas columnas: Year_orderdate y month_orderdate

superstore['month_orderdate'] = superstore['Order Date'].dt.month
superstore['Year_orderdate']  = superstore['Order Date'].dt.year

superstore.head(1)

,Numero de Orden,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,month_orderdate,Year_orderdate
0,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,8,2017

In [67]:
# Agrupar por 'Segment' y contar el nÃºmero de consumidores Ãºnicos en 'Customer Name'

numero_consumidores_por_segmento = superstore.groupby('Segment')['Customer Name'].nunique()  
numero_consumidores_por_segmento
# nunique() para contar los valores Ãºnicos en la columna "Customer Name" para cada segmento
# unique() traeria los nombres de los elementos, y no el numero de elementos para cada segmento

C:\Users\theop\AppData\Local\Temp\ipykernel_1368\2405356960.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  numero_consumidores_por_segmento = superstore.groupby('Segment')['Customer Name'].nunique()

Segment
Consumer       409
Corporate      236
Home Office    148
Name: Customer Name, dtype: int64

In [68]:
#AGRUPAR POR ID, NAME Y SEGMENTO. ADEMAS CONTAR PARA CADA AGRUPACION LA CANTIDAD DE ORDENES
ejercicio7 =  superstore.groupby(['Customer ID', 'Customer Name', 'Segment'])['Numero de Orden'].count()
ejercicio7 = pd.DataFrame(ejercicio7)

# Eliminar filas donde "Numero de Orden" es menor o igual a 2
ejercicio7 = ejercicio7[ejercicio7["Numero de Orden"] > 2]

ejercicio7.head(15)

C:\Users\theop\AppData\Local\Temp\ipykernel_1368\1853092829.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ejercicio7 =  superstore.groupby(['Customer ID', 'Customer Name', 'Segment'])['Numero de Orden'].count()

                                              Numero de Orden
Customer ID Customer Name        Segment
AA-10315    Alex Avila           Consumer                  11
AA-10375    Allen Armold         Consumer                  15
AA-10480    Andrew Allen         Consumer                  12
AA-10645    Anna Andreadi        Consumer                  17
AB-10015    Aaron Bergman        Consumer                   6
AB-10060    Adam Bellavance      Home Office               18
AB-10105    Adrian Barton        Consumer                  20
AB-10150    Aimee Bixby          Consumer                  12
AB-10165    Alan Barnes          Consumer                  14
AB-10255    Alejandro Ballentine Home Office               14
AB-10600    Ann Blume            Corporate                  8
AC-10420    Alyssa Crouse        Corporate                  5
AC-10450    Amy Cox              Consumer                   9
AC-10615    Ann Chong            Corporate                 18
AC-10660    Anna Chung           Consumer                   6

In [69]:
#ORDENAR DE MAYOR A MENOS EN NUMERO DE ORDEN Y TOMAR LOS PRIMEROS 10
ordenados = ejercicio7.sort_values(by='Numero de Orden', ascending=False)
ordenados.head(10)

                                             Numero de Orden
Customer ID Customer Name       Segment
WB-21850    William Brown       Consumer                  35
PP-18955    Paul Prost          Home Office               34
MA-17560    Matt Abelman        Home Office               34
JL-15835    John Lee            Consumer                  33
CK-12205    Chloris Kastensmidt Consumer                  32
SV-20365    Seth Vernon         Consumer                  32
JD-15895    Jonathan Doherty    Corporate                 32
AP-10915    Arthur Prichep      Consumer                  31
EP-13915    Emily Phan          Consumer                  31
ZC-21910    Zuschuss Carroll    Consumer                  30

In [70]:
ejercicio8 = pd.DataFrame(superstore.groupby('Customer ID')['Sales'].sum()) #AGRUPAMOS POR ID DE CLIENTE Y SUMAMOS CANTIDAD QUE GASTARON(SALES) POR CLIENTE
ejercicio8 = ejercicio8.sort_values(by='Sales', ascending=False).head(10)   #ORDENAMOS DE MAYOR A MENOS Y TOMAMOS LOS 10 PRIMEROS
ejercicio8

C:\Users\theop\AppData\Local\Temp\ipykernel_1368\2087369707.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ejercicio8 = pd.DataFrame(superstore.groupby('Customer ID')['Sales'].sum()) #AGRUPAMOS POR ID DE CLIENTE Y SUMAMOS CANTIDAD QUE GASTARON(SALES) POR CLIENTE

                   Sales
Customer ID
AG-10675     24891993.60
CM-12715     14793181.50
AH-10465     13603184.85
PO-18850     12647643.53
EP-13915     11562352.22
TA-21385     11512942.74
HM-14860     10233352.39
SO-20335     10191793.01
CC-12670      9992482.07
CC-12370      9056607.54

In [71]:
id_mas_gastadores = list(ejercicio8.index)
id_mas_gastadores

['AG-10675',
 'CM-12715',
 'AH-10465',
 'PO-18850',
 'EP-13915',
 'TA-21385',
 'HM-14860',
 'SO-20335',
 'CC-12670',
 'CC-12370']

In [73]:
#NUMERO DE CONSUMIDORES POR CIUDAD:
ejercicio9 = pd.DataFrame(superstore.groupby('City')['Customer ID'].count())

#ordenar el df
ejercicio9.sort_values(by='Customer ID', ascending=False)

C:\Users\theop\AppData\Local\Temp\ipykernel_1368\172367583.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ejercicio9 = pd.DataFrame(superstore.groupby('City')['Customer ID'].count())

                Customer ID
City
New York City           887
Los Angeles             726
Philadelphia            531
San Francisco           498
Seattle                 424
...                     ...
Jupiter                   1
Jefferson City            1
Springdale                1
Iowa City                 1
Aberdeen                  1

[529 rows x 1 columns]

In [74]:
ejercicio10= pd.DataFrame(superstore.groupby("Year_orderdate")["Sales"].sum())
ejercicio10['Sales'] = ejercicio10['Sales'].apply(lambda x: '{:.0f}'.format(x)) #CAMBIAR NOTACION CIENTIFICA A NOTACION NORMAL (EN LA COLUMNA "Sales") 
ejercicio10

                    Sales
Year_orderdate
2015            190489094
2016            225197706
2017            282567701
2018            322105296